<!doctype html>
<html>
	<head>
		<title>Snowtifications</title>
		<style>
			body { margin-top:2em; background-color:#fee; font-family:"Helvetica", "Arial", sans-serif; font-size:11pt; line-height:1.4em; }
			button { float:left; margin-right:1em; font-size:1.2em; }
			aside { line-height:1.8em; }
			#volunteers { float:left; margin-right:2em; }
			#confirm_snowtification { position:absolute; width:100%; height:100%; top:0; left:0; background-color:white; opacity:.95; }
			#confirm_snowtification h2,
			#confirm_snowtification input {  }
			#confirm_snowtification div { width:20em; margin:10em auto; padding:1em; border:1px solid black; }
		</style>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  		<script>
			$(function(){
				var date = new Date(),
					today = (date.getMonth() + 1) + '-' + date.getDate() + '-' + date.getFullYear();

				$('#snowtify').on('click', function(){
					$('#confirm_snowtification').show().on('submit', function(e){
						e.preventDefault();
						$.post("<%= notifyUrl %>", 
							<%- JSON.stringify({ numbers: numbers.map(function(number){ return number.number }) }) %>, 
							function(response){ 
								$('#confirm_snowtification').hide();
								loadNotifications();
							}
						);
					});

					$('#cancel_snowtification').on('click', function(){
						$('#confirm_snowtification').hide();
					});
				});

				function loadNotifications() {
					$.get("<%= notificationsUrl %>", function(response){
						$('#notifications').html('');
						for(notificationId in response) {
							$('#notifications').append('<li id="'+notificationId+'"><h4>"'+response[notificationId][0].body+'"</h4><ul></ul></li>');
							response[notificationId].forEach(function(notification) {
								$('#notifications #'+notificationId+' ul').append($("<li>"+notification.to+"</li>"));
							});
							if(notificationId == today){
								$('aside').text('A notification has been sent. (Only one can be sent per day.)');
							}
						}
					});
				} loadNotifications();

			});
		</script>
	</head>
	<body>
		<button id="snowtify">Snowtify!</button>
		<aside>(You are logged in as <%= username %>.)</aside>
		<article id="volunteers">
			<h3>Volunteers</h3>
			<ul>
<% numbers.forEach(function(number){ %>
				<li><%= number.number %>: <%= number.name %></li>
<% }); %>
			</ul>
		</article>
		<article>
			<h3>Notifications</h3>
			<ul id="notifications">Loading...</ul>
		</article>
		<form id="confirm_snowtification" style="display:none">
			<div>
				<h2>This will send a text message to <%= numbers.length %> phone numbers.</h2>
				<input type="submit" value="Send" /> <a href="#" id="cancel_snowtification">Cancel</a>
			</div>
		</form>
	</body>
</html>
